
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 20px;
}


.contact_item{
  margin-bottom: 5px;


}

.del-btn{
  margin-left: 10px;
  font-size: 7px;
}
.del-btn:active{
  background-color: lightseagreen;
}
/* 
.filter {
  width: 500px;
  height: 50px;
  background-color: deepskyblue;
} */

.markup{
  display: inline-block;
  /* width: 500px; */
}

.appBar{
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212121;
  padding: 15px 0;
  align-items: baseline;
}

form {
  display: table-caption;
 
}